<div class="ui top attached label">Connect {{slave.uuid}}</div>

<div class="ui basic segment">
  <div class="ui icon info message">
    <i class="spotify icon"></i>
    <div class="content">
      <p>Provide the name for the node and the username/password of a Spotify premium account to enable playback on this node.</p>
    </div>
  </div>
  <div class="ui form">
    <div class="three fields">
      <div class="field">
        <div class="ui input">
          {{input value=name enter="sendCredentials" type="text" placeholder="Node name"}}
        </div>
      </div>
      <div class="field">
        <div class="ui input">
          {{input value=username enter="sendCredentials" type="text" placeholder="Username"}}
        </div>
      </div>
      <div class="field">
        <div class="ui input">
          {{input value=password enter="sendCredentials" type="password" placeholder="Password"}}
        </div>
      </div>
    </div>
  </div>
  {{#if errMsg}}
    <p>
      <i class="red warning icon"></i>
      {{errMsg}}
    </p>
  {{/if}}
  <div class="ui basic button" {{action 'sendCredentials'}}>
    Send
  </div>
  <div class="ui basic button" {{action 'reset'}}>
    Reset
  </div>
</div>