<div class="ui raised padded-extra-lr segment">
  <div class="ui stackable grid">
    <div class="centered row">
      <h2 class="ui header">
        {{slave.name}}
        <div class="sub header">
          {{slave.trackQueue.length}} songs in the queue, currently {{if slave.isPaused 'paused' 'playing'}}
        </div>
      </h2>
    </div>
    {{#if isLoadingTracks}}
      <div class="centered row">
        {{spinkit-three-bounce}}
      </div>
    {{else if loadedTracks}}
      <div class="row">
        <div class="six wide column">
          <div class="ui grid">
            <div class="centered row">
              <div class="ui basic segment">
                <h3 class="ui header">Current Song</h3>
                <img class="ui small bordered rounded centered image" src="{{currentTrack.albumImageUrl}}">
                <br>
                <p><em>{{currentTrack.name}}</em></p>
                <p>{{currentTrack.descriptionText}}</p>
                <p>
                  {{#if slave.isPaused}}
                    <div class="ui basic icon button" {{action 'playCurrentTrack'}} data-tooltip="Play">
                      <i class="green play icon"></i>
                    </div>
                  {{else}}
                    <div class="ui basic icon button" {{action 'pauseCurrentTrack'}} data-tooltip="Pause">
                      <i class="yellow pause icon"></i>
                    </div>
                  {{/if}}
                  <div class="ui basic icon button" {{action 'removeTrack' slave.uuid 0}} data-tooltip="Remove">
                    <i class="red cancel icon"></i>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="ten wide column">
          <div class="ui basic segment">
            {{#if comingUpTracks}}
              <h3 class="ui header">Coming up</h3>
              <div class="ui stackable five column grid">
                {{#each comingUpTracks as |track index|}}
                  <div class="column">
                    <div class="flex-centered wrapper" style="cursor: pointer;" data-tooltip="{{track.name}}" {{action 'removeTrack' slave.uuid (inc index)}}>
                      <div class="ui tiny rounded bordered image remove-dimmer" style="margin: 0 auto">
                        <div class="ui dimmer">
                          <div class="content">
                            <div class="center">
                              <i class="red cancel icon"></i> Remove
                            </div>
                          </div>
                        </div>
                        <img class="ui centered image" src="{{track.albumImageUrl}}">
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            {{else}}
              <div class="ui info message">
                This node does not have any songs coming up in its queue. Feel free to add some by
                {{#link-to 'home.search'}}searching{{/link-to}},
                browsing your {{#link-to 'home.songs'}}saved songs{{/link-to}},
                or browsing your {{#link-to 'home.playlists'}}playlists{{/link-to}}.
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="centered row">
        <div class="ui info message">
          This node does not have any songs in its queue. Feel free to add some by
          {{#link-to 'home.search'}}searching{{/link-to}},
          browsing your {{#link-to 'home.songs'}}saved songs{{/link-to}},
          or browsing your {{#link-to 'home.playlists'}}playlists{{/link-to}}.
        </div>
      </div>
    {{/if}}
  </div>
</div>