<div class="ui basic center aligned segment">
  <div class="ui container">
    <p>Page {{page}} of {{numPages}}</p>
    <div class="ui basic icon button {{if (eq page 1) 'disabled'}}" {{action 'decPage'}}>
      <i class="ui angle left icon"></i>
    </div>
    <div class="ui basic icon button {{if (eq page numPages) 'disabled'}}" {{action 'incPage'}}>
      <i class="ui angle right icon"></i>
    </div>
  </div>
</div>
<div class="ui basic segment">
  <div class="ui divided middle aligned list">
  {{#each songs as |song|}}
    {{song-detail-block song=song}}
  {{/each}}
  </div>
</div>