<div class="ui basic clearing segment">
  {{#link-to 'home.playlists'}}
  <div class="ui left floated basic button">
    <i class="chevron circle left icon"></i>
    Back to list
  </div>
  {{/link-to}}
</div>
<div class="ui basic center aligned segment">
  {{#if playlist.imageUrl}}
  <img class="ui small rounded centered image" src="{{playlist.imageUrl}}">
  {{/if}}
  <h2 class="ui header">
    {{playlist.name}}
    <div class="sub header">
      {{#if playlist.description}}<p>{{playlist.description}}</p>{{/if}}
      <p>
        {{numTracks}} songs | {{playlist.numFollowers}} followers
      </p>
    </div>
  </h2>
</div>