<div class="right floated content">
  <div class="ui basic button {{if (not isSpotifySong) 'disabled'}}">Add to Queue</div>
</div>
{{#if albumImageUrl}}
<img class="ui avatar image" src="{{albumImageUrl}}">
{{else}}
<i class="large music middle aligned icon"></i>
{{/if}}
<div class="content">
  {{#if isSpotifySong}}
  <a class="header" href="{{songUrl}}" target="_blank">
    {{songName}}
  </a>
  {{else}}
  {{songName}}
  {{/if}}
  {{#if (or albumName artistNames)}}
  <div class="description">
    {{if albumName albumName}}
    {{if (and albumName artistNames) '|'}}
    {{if artistNames artistNames}}
  </div>
  {{/if}}
</div>