<div class="right floated content">
  <div class="ui basic button">Add to Queue</div>
</div>
<img class="ui avatar image" src="{{albumImageUrl}}">
<div class="content">
  <a class="header" href="{{songUrl}}" target="_blank">{{songName}}</a>
  <div class="description">{{albumName}} | {{artistNames}}</div>
</div>