<div class="right floated content">
  <div class="ui basic button {{if (not song.isSpotifyTrack) 'disabled'}}">Add to Queue</div>
</div>
{{#if song.albumImageUrl}}
<img class="ui avatar image" src="{{song.albumImageUrl}}">
{{else}}
<i class="large music middle aligned icon"></i>
{{/if}}
<div class="content">
  {{#if song.isSpotifyTrack}}
  <a class="header" href="{{song.spotifyUrl}}" target="_blank">
    {{song.name}}
  </a>
  {{else}}
  {{song.name}}
  {{/if}}
  {{#if (or song.albumName song.artists)}}
  <div class="description">
    {{if song.albumName song.albumName}}
    {{if (and song.albumName song.artists) '|'}}
    {{if song.artists song.artists}}
  </div>
  {{/if}}
</div>